<template name="placeList">
  <div class="placeList col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <td style="cursor: pointer;" class="col-xs-4 sortByName">Name<i class={{getSortClasses 'name'}}></i></td>
          <td style="cursor: pointer;" class="col-xs-1 sortByPrice">Price<i class={{getSortClasses 'price.0'}}></i></td>
          <td style="cursor: pointer;" class="col-xs-1 sortByDistance">Distance<i class={{getSortClasses 'distance'}}></i></td>
          <td style="cursor: pointer;" class="col-xs-2 sortByCity">City<i class={{getSortClasses 'city.0'}}></i></td>
          <td class="col-xs-4">Description</td>
        </tr>
      </thead>
      <tbody>
      {{#each places}}
          {{> placeListItem}}
      {{/each}}
      </tbody>
    </table>
  </div>
</template>